/*
font-family: 'Cinzel', serif;
font-family: 'Montserrat', sans-serif;
*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #050607;
}

.section {
    margin: 25px auto;
    max-width: 1496px;
    padding: 0 10px;
}

.section__hero {
    display: flex;
    justify-content: space-between;
    max-height: 80vh;
}

.section__hero--text {
    max-width: 552px;
    margin: auto;
    /* flex-grow: 2; */
    width: 40%;
}

.section__hero--text > h1 {
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    /* color: linear-gradient(295.38deg, #C5FFA2 4.89%, #BF841A 50.44%, #FFCD74 95.06%); */
    background: linear-gradient(295.38deg, #C5FFA2 4.89%, #BF841A 50.44%, #FFCD74 95.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.01em;
}

.section__hero--text > h1 > span {
    font-weight: 800;
    font-size: 74px;
    line-height: 76px;
    letter-spacing: 1.6rem;
}

.section__hero--text > p {
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    color: #EFF3FB;
}

.buttons-container {
    display: flex;
    gap: 25px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-primary {
    background: linear-gradient(295.38deg, #C5FFA2 4.89%, #BF841A 50.44%, #FFCD74 95.06%);
    
}

.btn-secondary {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #efbb5e;
    border-radius: 3px;
} 

.btn-secondary--text {
    background: linear-gradient(295.38deg, #C5FFA2 4.89%, #BF841A 50.44%, #FFCD74 95.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__hero--image {
    width: 60%;
    /* flex-grow: 3; */
    /* display: contents; */
}

.section__hero--image > img {
    width: auto;
    height: 100%;
    float: right;
}

.section__works--title {
    font-family: 'Cinzel', serif;
    font-size: 5rem;
    font-weight: 500;
    color: #141C2D;
    margin: 10px auto;
    text-align: center;
    
}

.sub-header-bar {
    display: flex;
    justify-content: flex-end;
    color: white;
    gap: 2rem;
    font-size: 28px;
}

.main-text {
    background: linear-gradient(295.38deg, #C5FFA2 4.89%, #BF841A 50.44%, #FFCD74 95.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
}

.main-text::after {
    content: "|";
    margin-left: 2.5rem;
}

.sub-text {
    text-transform: uppercase;
}

.nft-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    gap: 2%;
}

.nft-card {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
    /* min-width: 450px; */
    position: relative;
    width: 32%;
}

.nft-card-img {
    width: 100%;
}

.img-text {
    width: 100%;
    padding: 0.4rem;
    font-size: 18px;
    background: linear-gradient(90deg, rgba(9, 11, 14, 0.81) 19.79%, rgba(9, 11, 14, 0) 97.4%);
    position: absolute;
    bottom: 0;
}